body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-image: url();
}

#table  {
  font-weight: bold;
  color: #19270d;
}

#logo {
  height: 5%;
  width: 5%;
}

#IUCN {
  background-color: #FFE5E5; 
}

.item {
   width:auto;
   max-height:10%;
   margin-top: 50px;
 }


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #19270d;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #593a0e;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.table {
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
}
